<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- Used by CI to pull packages from private repository -->

  <!-- DefaultPushSource key is similar to the 'DefaultPushSource' key of NuGet.config schema-->
  <!-- This can be used by administrators to prevent accidental publishing of packages to nuget.org -->
  <config>
    <!--<add key="defaultPushSource" value="url" />-->
  </config>

  <!-- Default Package Sources -->
  <!-- They cannot be deleted or modified but can be disabled/enabled by user -->
  <!-- The following section is similar to 'packageSources' section of NuGet.config schema -->
  <packageSources>
    <!--<add key="gitlab" value="$PRIVATE_REGISTRY" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />-->
  </packageSources>

  <disabledPackageSources>
    <!--<add key="nuget.org" value="true" />-->
  </disabledPackageSources>
</configuration>
